
*{
    font-family: "Inter", sans-serif;
}

:root{
    --verde: hsl(75, 94%, 57%);
    --bianco: hsl(0, 0%, 100%);
    --grigio-chiaro : hsl(0, 0%, 20%);
    --grigio-medio: hsl(0, 0%, 12%);
    --grigio-scuro: hsl(0, 0%, 8%);
}
html{
    height: -webkit-fill-available;
}
body{
    height: 100vh;
    height: -webkit-fill-available;
    width: 100%;
    background-color: var(--grigio-scuro);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    text-align: center;
    margin: 0 2rem;
    width: 22.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--bianco);
    background-color: var(--grigio-medio);
    border-radius: 10px;
    overflow: hidden;
}

.container img{
    border-radius: 50%;
    width: 80px;
    margin: 1.5rem 0 .75rem 0;
}

.container h1{
    font-size: 1.5rem;
    font-weight: 500;
}

.container h5{
    color: var(--verde);
}

.container p{
    margin-top: 1.2rem;
    font-size: .825rem;
}

.container-links{
    margin: 1.18rem 0 1.15rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    gap: .90rem;
}

.container-links a{
    font-weight: 500;
    width: 100%;
    text-align: center;
    padding: .5rem 0;
    border-radius: 10px;
    background-color: var(--grigio-chiaro);
    text-decoration: none;
    color: white;
}

.container-links a:hover{
    background-color: var(--verde);
    color: black;
    transition-duration: .5s;
}